*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 900vh;
    width: 1000vw;
}
.container{
    margin: 5px;
    padding: 5px;
    border: solid 3px red;
    background-color: aqua;
    display: grid;
    gap:5px;
    grid-template-areas: 
    "a a a a"
    "b c c c"
    "b c c c"
    "d d d d"
    ;
    /*grid-template-columns:1fr 1fr 1fr;*/

    /*grid-template-columns: 1fr 1fr 1fr;*/
   /* grid-template-columns: repeat(4,100px);*/
   /*grid-template-columns: repeat(auto-fill,100px);*/
   /*grid-template-columns: 700px auto auto auto;*/
   /*grid-template-rows:150px 150px;*/
   /*grid-auto-rows: 150px;*/

   /*justify-content: center;
   align-content: center;
   align-items: end;*/
}
.box{
    height: 160px;
    border: solid 4px blue;
    background-color: rgb(222, 18, 18);
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;   
}
/*#box1{
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end:-1 ;
}
#box10{
    grid-column: 1/-1;
}
#box2{
    grid-row: 2/span 4;
}*/
#box1{
    grid-area: a;
}
#box2{
    grid-area: b;
}
#box3{
    grid-area: c;
}
#box4{
    grid-area: d;
}
